name: Pipeline de commandes docker
on:
  push:
    branches:
      - feature/dockerfile
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Construire image de test my-calculator-test de votre application avec la commande
        run: docker build --target test-target -t my-calculator-test .
      - name: Exécutez votre un conteneur de votre image my-calculator-test
        run: docker run --rm my-calculator-test
      - name: Construisez votre image de production my-calculator de l’application
        run: docker build --target production -t my-calculator .
